main {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: calc(100%-64px);
}

h1 {
  font-size: 6em;
}

.top {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.left,
.right,
section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left > div {
  flex-direction: row;
  align-items: baseline;
}

.left h2 {
  font-size: 2em;
}

.left span {
  font-size: 10em;
}

.left span:last-of-type {
  font-size: 1.5em;
}

.right .clock {
  font-size: 20em;
}

.bottom {
  display: grid;
  /* justify-content: space-around; */
  width: 100%;
  font-size: 2em;
  margin-top: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clock,
.prepare,
.warning,
.round,
.rest {
  display: flex;
  flex-direction: revert;
  font-kerning: none;
}

.prepare,
.warning,
.round,
.rest {
  display: flex;
  flex-direction: column;
}

.prepare > div,
.warning > div,
.round > div,
.rest > div {
  display: flex;
  flex-direction: row;
}

.prepare > div:last-of-type,
.warning > div:last-of-type,
.round > div:last-of-type,
.rest > div:last-of-type {
  font-size: 0.75em;
}
